.vscode/
JCI-Backup/
*~
Boards/usbget/m3-toolchain/
Boards/usbget/cmu/*.o
Boards/usbget/cmu/*.d
Boards/usbget/cmu/usbget
Boards/usbget/local/*.o
Boards/usbget/local/usbget
Boards/usbget/test/test.log
Boards/usbget/src/*.o
Boards/usbget/src/usbget
Boards/usbget/src/adlint/
Boards/usbget/src/Makefile
